*{
    padding: 0;
    margin: 0;
}
.container{
    background-image: url("assets/landing.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
}

#menu{
    display: inline-block;
    margin: 80px auto 0 80px;

}

#logo{
    display: block;
    text-align: center;
}
.line1, .line2, .line3{
    height: 5px;
    width: 50px;
    background-color: white;
    margin: 5px 0;

}

.happyhr{
    color: black;
    background-color: white;
    justify-content: center;
    display: flex;
    height: 60px;
    /* width: 25%; */
}
.partytime{
    color: white;
    background-color: #F15A29;
    justify-content: center;
    display: flex;
    height: 60px;
    /* width: 25%; */
}

#breakfast{
    background-image: url("assets/foodtop-20210423T122832Z-001/foodtop/breakfast.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    color: white;
    font-style: italic;
    justify-content: center;
    height: 120px;
    align-items: center;
    opacity: 0.9;
    width: 25%;

}

#lunch{
    background-image: url("assets/foodtop-20210423T122832Z-001/foodtop/lunch.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    color: white;
    font-style: italic;
    font-style: italic;
    justify-content: center;
    height: 120px;
    align-items: center;
    opacity: 0.4;
    width: 25%; 
}

#dinner{
    background-image: url("assets/foodtop-20210423T122832Z-001/foodtop/dinner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    color: white;
    justify-content: center;
    height: 120px;
    align-items: center;
    width: 25%; 
}

.examples{
    margin-top: 30px;
    width: 76%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

#fastfood{
    display: flex;
    flex-direction: column;
    float: left;
    margin-right: 80px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    box-shadow: 2px 2px 2px 4px lightgray;
}

#images1{
    display: flex;
    flex-direction: row;
    float: right;
    margin-left: 80px;
    padding: 10px;
    box-shadow: 2px 2px 2px 4px lightgray;

}
.right-align{
    text-align: right;
}
#but{
    display: flex;
    margin-left: 145px;
    justify-content: center;
    align-items: center;
}

.examples button{
    background-color: white;
    border: 1px solid #F15A29;
    height: 50px;
    width: 200px;
    text-align: center;
    color: #F15A29;
    font-weight: 700;
}


.collection{
    background-color: white;
    height: 50vh;
    width: 70%;


}

.topsect{
    display: flex;
}

.topsect p{
   border: 1px solid gray;
   display: flex;
   flex-direction: row;
   width: 100%;
   justify-content: center;
   background-color: lightgray;
   padding-top: 10px;
   padding-bottom: 10px;
}

#transparent{
    border: transparent;
    background-color: white;
}

.yummy{
    /* padding-top: 40px; */
    display: flex;
    text-align: center;
    color: #F15A29;
    justify-content: center;
    padding-top: 20px;

}
.yummy figure{
    padding: 0 10px;
}


.card{
    display: flex;
    flex-direction: row;
    box-shadow: 2px 2px 2px 4px lightgray;
    transition: 0.3s;
    width: 70%;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    padding: 50px;
    text-align: center;
    justify-content: space-around;
}

#reviews{
    width: 60%;

}

#about{
    width: 30%;
}

.subscribe{
    background-image: url("assets/subscribe.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    text-align: center;
    padding-top: 50px;
    font-size: xx-large;
}

.subscribe p{
    color: white;
}

#button3{
    background-color: lightgray;
    height: 30px;
    width: 20%;
    opacity: 0.3;
    color: white;
    font-size: 20px;
    text-align: left;
    border: transparent;
}

#button4{
    background-color: #F15A29;
    height: 30px;
    width: 10%;
    color: white;
    font-size: 20px;
    text-align: center;
    border: transparent;
    
}

footer{
    background-color: #F15A29;
    display: block;
    align-items: center;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
    color: white;
}
