.container{
    background-image: url("assets/landing.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
}

#menu{
    display: inline-block;
    margin: 80px auto 0 80px;

}

#logo{
    display: block;
    text-align: center;
}
.line1, .line2, .line3{
    height: 5px;
    width: 50px;
    background-color: white;
    margin: 5px 0;

}

.happyhr{
    color: black;
    background-color: white;
    justify-content: center;
    display: flex;
    border-bottom: 1px solid grey;
    height: 60px;
    /* width: 25%; */
}
.partytime{
    color: white;
    background-color: #F15A29;
    justify-content: center;
    display: flex;
    height: 60px;
    /* width: 25%; */
}

#breakfast{
    background-image: url("assets/foodtop-20210423T122832Z-001/foodtop/breakfast.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    color: white;
    justify-content: center;
    height: 120px;
    align-items: center;
    opacity: 0.9;
    width: 25%;

}

#lunch{
    background-image: url("assets/foodtop-20210423T122832Z-001/foodtop/lunch.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    color: white;
    justify-content: center;
    height: 120px;
    align-items: center;
    opacity: 0.4;
    width: 25%; 
}

#dinner{
    background-image: url("assets/foodtop-20210423T122832Z-001/foodtop/dinner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    color: white;
    justify-content: center;
    height: 120px;
    align-items: center;
    width: 25%; 
}


.drink {
    float: left;
    /* width: 50%; */
    padding: 0;
}

#fastfood{
    float: left;
}

#images1{
    float: right;
}

.menu-list{
    background-image: url("assets/foodsBg.jpg");
    margin-top: 150px;
}

.topsect{
    display: inline-flex;
    color: white;

}

.collection{
    box-sizing: content-box;
    display: flex;
    flex-direction:row;
    text-align: center;
    color: #F15A29;
    /* background-color: white; */
}

.subscribe{
    background-image: url("assets/subscribe.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    text-align: center;
    padding-top: 50px;
    color: white;
    font-size: xx-large;
}



footer{
    background-color: #F15A29;
    display: block;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
    color: white;
}