

.offer{
    width: 25%;
}
.session{
    width: 100%;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    height: 120px;
}

.menu-list{
    background-image: url("assets/foodsBg.jpg");
    background-size: cover;
    background-position: center 100%;
    width: 100%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
}